.vector-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vector-header-container .mw-header, .vector-header-container .vector-sticky-header {
    width: 100%;
    min-height: 3.125rem;
    background-color: var(--background-color-base, #fff);
    min-width: 18.75em;
    max-width: 99.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

.mw-header .vector-header-start, .mw-header .vector-header-end {
    display: flex;
    align-items: center;
}

.mw-header .vector-header-end {
    flex-grow: 1;
}

.mw-header .vector-header-start, .mw-header .vector-header-end {
    display: flex;
    align-items: center;
}

div {
    unicode-bidi: isolate;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo h6 {
    font-size: 24px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .cta button {
    font-size: 16px;
    font-weight: bold;
  }
  
  .hero {
    padding: 50px 0;
    background-color: #f8f9fa;
    height: 100vh;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .text-section {
    text-align: left;
    margin-right: 50px;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  .btn-custom {
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
  }
  
  .footer h6 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer ul {
    padding: 0;
    list-style-type: none;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #000;
  }
  
  .footer .list-inline-item {
    margin-right: 10px;
  }
  
  .fixed-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .fixed-icon img {
    width: 50px;
    height: 50px;
  }
  